---
import type { CollectionEntry } from 'astro:content'
import { getSlug } from '@libs/utils'

interface Props {
  icon: CollectionEntry<'icons'>['data']
}

const { icon } = Astro.props
// const { title, categories, tags } = Astro.props.icon
---

<div class="row align-items-md-center">
  <nav class="col" aria-label="breadcrumb">
    <div class="border-bottom border-subtle mb-medium">
    <ol class="breadcrumb">
      <li class="breadcrumb-page"><a href="/docs/icons">Icons</a></li>
      <li class="breadcrumb-page active" aria-current="page">{icon.title}</li>
    </ol>
    </div>
  </nav>
  <h1 class="cxd-title mb-0" id="title">{icon.title}</h1>
  {
    icon.categories && icon.tags && (
      <div>
        <ul class="bulletless mb-medium">
          {icon.tags && (
            <li class="my-xsmall">
              <strong>Tags:</strong>
              {icon.tags.split(',').map((tag) => (
                <a class="badge default ms-2xsmall" href={`/docs/icons/tag/${getSlug(tag.trim())}/`}>
                  {tag.trim()}
                </a>
              ))}
            </li>
          )}
          {icon.categories && (
            <li>
              <strong>Category:</strong>
              {icon.categories.split(',').map((category) => (
                <a class="badge default ms-2xsmall" href={`/docs/icons/category/${getSlug(category.trim())}/`}>
                  {category.trim()}
                </a>
              ))}
            </li>
          )}
        </ul>
      </div>
    )
  }
</div>
